/* NAVBAR */
.nav-link-heading{
    font-weight: 700;
    font-size: large;
    margin-left: 18px;
    margin-right: 18px;
    letter-spacing: 0.05em;
}

.nav-bar-name{
    font-family: Millenia;
    margin-left:15px; 
    font-size: xx-large;
    font-weight: 1000;
    letter-spacing: 0.05em;
}

.dropdown-item{
    font-weight: 700;
    font-size: medium;
    letter-spacing: 0.05em;
    color: rgba(0,0,0,.55);
}

.dropdown-item-heading{
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: medium;
    text-align: right;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown:hover .nav-link-heading{
    color: rgba(0,0,0,.7);
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* FONTS */
@font-face {
    font-family: Open_sans;
    src: url("../Fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf");
}
@font-face {
    font-family: Open_sans_condensed;
    src: url("../Fonts/Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Medium.ttf");
}
@font-face {
    font-family: Arvo;
    src: url("../Fonts/Arvo/Arvo-Bold.ttf");
}
@font-face {
    font-family: Millenia;
    src: url("../Fonts/Millenia-Font/MilleniaPersonalUse-w1OB8.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("../Fonts/Poppins/Poppins-Medium.ttf");
}