/* EACH CONTAINER */
.outmost-container{
    padding: 1.5em;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-game{
    background-image: url("../Images/portfolio/background/games_section_bg.jpg");
}

#section-app{
    background-image: url("../Images/portfolio/background/apps_section_bg.png");
}

#section-website{
    background-image: url("../Images/portfolio/background/websites_section_bg.jpg");
}

#section-hackathon{
    background-image: url("../Images/portfolio/background/hackathons_section_bg.png");
}

.section-heading{
    font-family: Poppins;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.section-heading-div{
    padding-top: 3em;
    padding-bottom: 2em;
}

/* MODAL TRIGGER */
.modal-trigger-button {
    width: 100%;
    border: 0px;
    background-color: transparent;
    color: white;
    position: relative;
}

.modal-trigger-button img {
    opacity: 100%;

    transition-property: filter;
    transition-duration: 0.5s;
}

.modal-trigger-button .button-content {
    opacity: 0%;
    position: absolute;
    left: 29%;
    top: 65%;
    z-index: 1;
    font-weight: 600;
    font-size: 1.2em;
    transition: top 0.5s, opacity 0.5s;
}

.modal-trigger-button:hover .button-content {
    opacity: 100%;
    top:45%;
}

.modal-trigger-button:hover img {
    filter: brightness(50%);
}

/* ACTUAL MODAL */
.modal-dialog {
    max-width: 800px;
}

.modal-title {
    text-align: center;
    width: 100%;
    font-family: Poppins;
}

.modal-body {
    padding: 0;
}

/* STYLE FOR EACH CARD */
/*Carousel */
.carousel {
    display: flex;
    max-height: 500px;
}

.sr-only{ 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.carousel-inner{
    padding: 1.5em; 
    align-content: center;
}

.carousel div{
    display: flex;
}

.carousel-item{
    background-color: black;
}

.carousel-inner img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

/* Cards */
.container-for-cards .row{
    width: 100%;
    padding: 1em;
}

.card-body {
    padding: 1rem 1rem 3rem 1rem;
}

.container-for-cards .card{
    border-radius: 1em;
    width: 100%;
    background: rgb(255,255,255);
}

.container-for-cards .project-name{
    font-family: Poppins;
    font-weight: bold;
}

.content__item {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 1;
    pointer-events: none;
}

.button--pandora {
    background: #000;
    font-weight: 600;
    padding: 0;
    border-radius: 10px;
    pointer-events: auto;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    position: relative;
    display: inline-block;
    margin-left: 1rem;
}

.button--pandora span {
    display: block;
    background: #d5d5d5;
    padding: 0.5rem 1rem;
    border: 2px solid #000;
    border-radius: 10px;
    transform: translate3d(-4px, -4px, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.enabled:hover span {
    transform: translate3d(-8px, -8px, 0);
    cursor: pointer;
}
