/* EACH CONTAINER */
.outmost-container{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-game{
    background-image: url("../Images/portfolio/background/games_section_bg.jpg");
}

#section-app{
    background-image: url("../Images/portfolio/background/apps_section_bg.jpg");
}

#section-website{
    background-image: url("../Images/portfolio/background/websites_section_bg.jpg");
}

.section-heading{
    font-family: Poppins;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.section-heading-div{
    padding-top: 3em;
    padding-bottom: 2em;
}

/* STYLE FOR EACH CARD */
/*Carousel */
.carousel {
    display: flex;
    max-height: 256px;
}

.sr-only{ 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.carousel-control-prev {
    margin-left: -1.5em;
  }
  
.carousel-control-next {
    margin-right: -1.5em;
}

.carousel-inner{
    padding: 1.5em; 
    align-content: center;
}

.carousel div{
    display: flex;
}

.carousel-item{
    background-color: black;
}

.carousel-inner img {
    object-fit: contain;
    max-height: 100%;
}

/* Cards */
.container-for-cards .row{
    width: 100%;
    padding: 1em;
}

.container-for-cards .card{
    border-radius: 1em;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 80%, rgba(180,179,179,1) 100%);
}

.container-for-cards .project-name{
    font-family: Poppins;
    font-weight: bold;
}

