{% extends "base.html" %}

{% block title %}
Queena's Portfolio
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block content %}
<!-- COVER -->
<div id="section-Home" class="cover_bg_img bg-image d-flex justify-content-center align-item-center" >    
  <div class="row align-self-center w-100">
    <div class="jumbotron text-center">
      <h1 class="text-white" style="font-size: 100px; letter-spacing: 0.3em; padding-bottom: 0;">Queena</h1>
      <hr style="color: white; width: 100%;height: 3px; opacity: 100%; padding: 0; margin:0;">
      <hr style="color: lightgray; width: 100%;height: 2px; opacity: 70%; padding: 0; margin:0;">
      <p style="color: white; font-weight: 500; letter-spacing: 0.1em;">Programmer | Tech enthusiast | Game Creator</p>
      <section id="scroll-down">
        <a href="#section-About"><span></span></a>
      </section>
    </div>
  </div>
</div>
<!-- END OF COVER -->


<!-- About -->
<div id="section-About" class="container-fluid bg-dark" style="padding: 1.5em 1.5em 3em 1.5em;">
  <div class="text-center section-heading-div">
    <h1 style="color:white;" class="section-heading">ABOUT</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img class="card-img-top" src="{{url_for('static', filename='Images/home/personal.jpg')}}" alt="Card image cap">
      </div>        
      <div class="col-8 d-flex align-item-stretch">
        <div class="card bg-light rounded border-secondary">
          <div class="card-body">
            <h3 class="card-title">Hi, I'm Queena.</h3>
            <p></p>
            <p class="card-text lead">
              I am a Sixth Form student studying in England and I am an aspiring Mathematics and Computer Science Student.
              I am experienced with Python, C++ and a bit of Java. I have also built several Flask applications using HTML, Javascript and 
              CSS in previous projects.
              <br>
              <br>
              Any enquiries, please do not hesitate to contact me through the buttons located in the footer below.
            </p>
            <!-- HTML !-->
            <a href="#section-Portfolio"><button class="button-48" role="button"><span class="text">Check out my portfolio!</span></button></a>
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>
<!-- END OF ABOUT -->

<!-- PORTFOLIO -->
<div class="container-fluid bg-light" style="padding-top: 1.5em; padding-bottom: 3em;">
  <div class="text-center section-heading-div" >
    <h1 id="section-Portfolio" style="color:black" class="section-heading">PORTFOLIO</h1>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="row" style="width: 1280px;">
      <div class="col-3" style="height: 300px;">
        <a class="portfolio-link" href="/portfolio#section-game">
          <div class="home-portfolio-card w-100 h-100 d-flex justify-content-center"
          style="background-image: url('static//Images/home/icons/games_icon.jpg');">
            <span class="portfolio-link-name">Games</span>
          </div>
        </a>
      </div>
      <div class="col-3">
        <a class="portfolio-link" href="/portfolio#section-app">
          <div class="home-portfolio-card w-100 h-100 d-flex justify-content-center"
          style="background-image: url('static/Images/home/icons/apps_icon.jpg');">
            <span class="portfolio-link-name">Applications</span>
          </div>
        </a>            
      </div>
      <div class="col-3">
        <a class="portfolio-link" href="/portfolio#section-website">
          <div class="home-portfolio-card w-100 h-100 d-flex justify-content-center"
          style="background-image: url('static//Images/home/icons/websites_icon.jpg');">
            <span class="portfolio-link-name">Websites</span>
          </div>
        </a>  
      </div>
      <div class="col-3">
        <a class="portfolio-link" href="/portfolio#section-hackathon">
          <div class="home-portfolio-card w-100 h-100 d-flex justify-content-center"
          style="background-image: url('static//Images/home/icons/hackathons_icon.jpg');">
            <span class="portfolio-link-name">Hackathons</span>
          </div>
        </a>  
      </div>
    </div>
  </div>
</div>
{% endblock %}
  