<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/portfolio.css')}}">
    
        <title>Queena's Projects</title>
    </head>

    <body>
        <!-- NAVBAR -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="padding-bottom: 0;">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand nav-bar-name" href="/">&lt;queen/&gt;</a>
              </div>
      
              <ul class="nav navbar-nav nav-right mr-auto">
                <li class="nav-item active">
                  <a class="nav-link-heading nav-link" href="/#section-Home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link-heading nav-link" href="/#section-About">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link nav-link-heading dropdown-toggle" style="margin-right: 0%;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Portfolio
                  </a>
                  <div class="dropdown-menu dropdown-item-heading" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/portfolio#section-game">Games</a>
                    <a class="dropdown-item" href="/portfolio#section-app">Applications</a>
                    <a class="dropdown-item" href="/portfolio#section-website">Websites</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link-heading nav-link" href="/#section-Contact">Contact</a>
                </li>
              </ul>
              
            </div>
          </nav>
        <!-- END OF NAVBAR -->
        
        <!-- GAMES -->
        <div id="section-game" class="outmost-container container-fluid bg-dark" style="padding: 1.5em 1.5em 3em 1.5em;">
            <div class="text-center section-heading-div">
              <h1 style="color:white;" class="section-heading">Games</h1>
            </div>
            <div class="container">
                {% for gameRow in gameRows %}

                <div class="row justify-content-md-center">
                    <div class="col-3 d-flex" style="align-items: center;">
                        <img class="card-img-top" src="static/Images/portfolio/{{ gameRow['pic_url'] }}" alt="Card image cap">
                    </div>        
                    <div class="col-7 d-flex align-item-stretch">
                        <div class="card bg-light rounded border-secondary">
                            <div class="card-body">
                                <h3 class="project-name card-title">{{gameRow['name']}}</h3>
                                <p></p>
                                <p class="card-text lead" style="font-weight: 350; font-family: Open_sans;">
                                    {{gameRow['description']}}
                                </p>

                                <p class="font-size: small">
                                    Written using: {{gameRow['language']}}
                                </p>
                            </div>
                        </div>
                    </div>        
                </div>

                {% endfor %}
            </div>
        </div>

        <hr style="color: white; width: 100%;height: 3px; opacity: 100%; padding: 0; margin:0;">

        <div id="section-app" class="outmost-container container-fluid" style="background-color: lightgray; padding: 1.5em 1.5em 3em 1.5em;">
            <div class="text-center section-heading-div">
              <h1 style="color:white;" class="section-heading">Applications</h1>
            </div>
            <div class="container">
                {% for appRow in appRows %}

                <div class="row justify-content-md-center">
                    <div class="col-3 d-flex" style="align-items: center;">
                        <img class="card-img-top" src="static/Images/portfolio/{{ appRow['pic_url'] }}" alt="Card image cap">
                    </div>        
                    <div class="col-7 d-flex align-item-stretch">
                        <div class="card bg-light rounded border-secondary">
                            <div class="card-body">
                                <h3 class="project-name card-title">{{appRow['name']}}</h3>
                                <p></p>
                                <p class="card-text lead" style="font-weight: 350; font-family: Open_sans;">
                                    {{appRow['description']}}
                                </p>

                                <p class="font-size: small">
                                    Written using: {{appRow['language']}}
                                </p>
                            </div>
                        </div>
                    </div>        
                </div>

                {% endfor %}
            </div>
        </div>

        <hr style="color: white; width: 100%; height: 3px; opacity: 100%; padding: 0; margin:0;">

        <div id="section-website" class="outmost-container container-fluid bg-dark" style="padding: 1.5em 1.5em 3em 1.5em;">
            <div class="text-center section-heading-div">
              <h1 style="color:white;" class="section-heading">Websites</h1>
            </div>
            <div class="container">
                {% for websiteRow in websiteRows %}

                <div class="row justify-content-md-center">
                    <div class="col-3 d-flex" style="align-items: center;">
                        <img class="card-img-top" src="static/Images/portfolio/{{ websiteRow['pic_url'] }}" alt="Card image cap">
                    </div>        
                    <div class="col-7 d-flex align-item-stretch">
                        <div class="card bg-light rounded border-secondary">
                            <div class="card-body">
                                <h3 class="project-name card-title">{{websiteRow['name']}}</h3>
                                <p></p>
                                <p class="card-text lead" style="font-weight: 350; font-family: Open_sans;">
                                    {{websiteRow['description']}}
                                </p>

                                <p class="font-size: small">
                                    Written using: {{websiteRow['language']}}
                                </p>
                            </div>
                        </div>
                    </div>        
                </div>

                {% endfor %}
            </div>
        </div>
    </body>
</html>